Nodos Node-Red
[
    {
        "id": "62ee7fdfa73e5586",
        "type": "tab",
        "label": "Caja Fuerte",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a93f1d2f81312531",
        "type": "mqtt in",
        "z": "62ee7fdfa73e5586",
        "name": "",
        "topic": "ESP/Estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f1703083f20ba965",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "e91bb887758b2f00",
                "53ccd9522af702ca",
                "a0d7edf1a697ccc8"
            ]
        ]
    },
    {
        "id": "e91bb887758b2f00",
        "type": "debug",
        "z": "62ee7fdfa73e5586",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "53ccd9522af702ca",
        "type": "ui_text",
        "z": "62ee7fdfa73e5586",
        "group": "8c0b968f5d0eea6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado Caja Fuerte",
        "format": "{{msg.payload.estado}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "e3f5e5ad3f0c8ab9",
        "type": "ui_button",
        "z": "62ee7fdfa73e5586",
        "name": "",
        "group": "8c0b968f5d0eea6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Abrir Caja",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"msg\":\"ABIERTO\"}",
        "payloadType": "str",
        "topic": "ESP/Abierto",
        "topicType": "msg",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "861d8993146d8153"
            ]
        ]
    },
    {
        "id": "861d8993146d8153",
        "type": "mqtt out",
        "z": "62ee7fdfa73e5586",
        "name": "",
        "topic": "ESP/Abierto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1703083f20ba965",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "88238cb5f8a70261",
        "type": "mqtt out",
        "z": "62ee7fdfa73e5586",
        "name": "",
        "topic": "ESP/Cerrado",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1703083f20ba965",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "e07c1577a1700a58",
        "type": "ui_button",
        "z": "62ee7fdfa73e5586",
        "name": "",
        "group": "8c0b968f5d0eea6c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Cerrar Caja",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"msg\":\"CERRADO\"}",
        "payloadType": "str",
        "topic": "ESP/Cerrado",
        "topicType": "msg",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "88238cb5f8a70261"
            ]
        ]
    },
    {
        "id": "cb31ab71cb6f6e3c",
        "type": "ui_gauge",
        "z": "62ee7fdfa73e5586",
        "name": "",
        "group": "8c0b968f5d0eea6c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Estado de Caja Fuerte",
        "label": "Estado Actual",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "a0d7edf1a697ccc8",
        "type": "function",
        "z": "62ee7fdfa73e5586",
        "name": "Estados",
        "func": "if (msg.payload.estado === \"ABIERTO\") {\n    msg.payload = 1;\n} else if (msg.payload.estado === \"CERRADO\") {\n    msg.payload = 0;\n} else {\n    msg.payload = -1; // valor fuera de rango\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "cb31ab71cb6f6e3c"
            ]
        ]
    },
    {
        "id": "f1703083f20ba965",
        "type": "mqtt-broker",
        "name": "Caja Fuerte",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8c0b968f5d0eea6c",
        "type": "ui_group",
        "name": "Estado",
        "tab": "68acedb775751106",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68acedb775751106",
        "type": "ui_tab",
        "name": "Estado",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
